/* GLOBAL STYLES */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  color: hsl(193,95%,68%);
}

/* Color Palette #FFFFFF, main color #D6E9F5, BG #2D1832 border #0C2427 */

/* MAGIC 8 BALL STYLES */

.ball {
  width: 650px;
}